.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.vmid {
  vertical-align: middle;
}
.small {
  font-size: small;
}
.nweight {
  font-weight: normal;
}
.underline {
  text-decoration: underline;
}
a {
  color: #4682B4;
  text-decoration: none;
}
body {
  background-color: #ffefd5;
  font-family: "Palatino Linotype";
}
dt {
  font-weight: bold;
}
dt.half {
  margin-left: 20px;
}
hr.hr1 {
  width: 72.1%;
}
hr.hr2 {
  width: 61.8%;
}
hr.hr3 {
  width: 51.5%;
}
hr.hr4 {
  width: 41.2%;
}
hr.hr5 {
  width: 30.9%;
}
img.px20 {
  width: 20px;
}
img.px32 {
  width: 32px;
}
img.px88 {
  width: 88px;
}
img.px320 {
  width: 320px;
}
img.px400 {
  width: 400px;
}
img.px600 {
  width: 600px;
}
