a {
  color: #4682B4;
  text-decoration: none;
}
.w3:link, a.w3bibref:link  { color: #00C; background: transparent; }
.w3:visited, a.w3bibref:visited { color: #609; background: transparent; }
a.w3:active, a.w3bibref:active { color: #C00; background: transparent; }
a abbr.w3 { border: none; }
a.w3bibref { text-decoration: none; }
body {
  margin: 50px;
  background-color: #ffefd5;
  font-family: "Palatino Linotype";
}
cite .w3bibref { font-style: normal; }
code.w3 {
  color:  #C83500;
  font-family: monospace;
}
div.w3example {
  padding: 0.5em;
  margin: 1em 0;
  position: relative;
  clear: both;
  padding: .5em;
  border-left-width: .5em;
  border-left-style: solid;
  border-color: #e0cb52;
  background: #fcfaee;
}
div.w3example-title {
  min-width: 7.5em;
  color: #b9ab2d;
}
div.w3example-title span { text-transform: uppercase; }
dt.w3 { font-weight: bold }
em.w3rfc2119 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
  color: #900;
}
h1.w3, h2.w3, h3.w3, h4.w3, h5.w3, h6.w3 { text-align: left }
h1.w3, h2.w3, h3.w3 { color: #005A9C; }
h1.w3 { font: 170% sans-serif }
h2.w3 { font: 140% sans-serif }
h3.w3 { font: 120% sans-serif }
h4.w3 { font: bold 100% sans-serif }
h5.w3 { font: italic 100% sans-serif }
h6.w3 { font: small-caps 100% sans-serif }
li p.w3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
p.mynote {
  color: #4c9141;
  text-align: right;
}
p.w3 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
p.w3copyright { font-size: small }
pre.w3, pre.w3example { margin-left: 2em }
span.w3hilite { color: red; }
.w3aref {
  font-family: monospace;
  font-weight: bold;
  color: #ff4500 !important;
}